golang                    1.21.4
ruby                      3.4.9
task                      3.38.0
git-chglog                0.15.4
github:restechnica/semverbot 1.7.2
ubi:siderolabs/conform    v0.1.0-alpha.31
jq                        1.8.1
